<nav class="bg-pink-900 text-white p-2">
    <ul class="flex justify-between cursor-pointer">
      <div class="flex">
        <li class="px-4" routerLink="/home">Home</li>
        <li class="px-4" routerLink="/about">About</li>
        <li class="px-4" routerLink="/products">Products</li>
        <li class="px-4" routerLink="/user">Users</li>
        <!-- <li class="px-4" routerLink="/user-details">Users-Details</li> -->
        <li class="px-4" routerLink="/dateDisplay">Date Display</li>
      </div>
      <div>
        <ul class="flex cursor-pointer">
          <li class="px-4" (click)="logout()">Logout</li>
        </ul>
      </div>
    </ul>
  </nav>
  