<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img
            src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
            class="img-fluid"
            alt="Sample image"
          />
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form (ngSubmit)="Login()">
            <div style="margin-bottom: 15px;text-align: right;">
              <label for="role" style="display: block; font-weight: bold;">Select role</label>
              <select [(ngModel)]="loginDetails.role" name="role" style="padding: 5px; border-radius: 3px; border: 1px solid #ccc;">
                <option value="user">user</option>
                <option value="admin">admin</option>
              </select>
            </div>
            
            <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" class="form-control" id="email" [(ngModel)]="loginDetails.email" name="email" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" [(ngModel)]="loginDetails.password" name="password" placeholder="Password">
            </div><br>
            <button type="submit" class="btn btn-primary btn-block btn-login" style="background-color: darkblue;">Login</button>
          </form>
        </div>
      </div>
    </div>
  </section>
  
